/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-ags {
  background-image: url(../images/sprite.png);
  background-position: -1667px -779px;
  width: 129px;
  height: 128px;
}
.icon-bitovie-electro {
  background-image: url(../images/sprite.png);
  background-position: -1822px -664px;
  width: 139px;
  height: 96px;
}
.icon-daido {
  background-image: url(../images/sprite.png);
  background-position: -2048px -845px;
  width: 223px;
  height: 33px;
}
.icon-electro-inost {
  background-image: url(../images/sprite.png);
  background-position: -2100px -664px;
  width: 139px;
  height: 96px;
}
.icon-electro-teplo {
  background-image: url(../images/sprite.png);
  background-position: -1527px -907px;
  width: 126px;
  height: 96px;
}
.icon-gips {
  background-image: url(../images/sprite.png);
  background-position: -1536px -779px;
  width: 131px;
  height: 128px;
}
.icon-header-bg {
  background-image: url(../images/sprite.png);
  background-position: -1400px 0px;
  width: 925px;
  height: 412px;
}
.icon-header-img-1-rotor {
  background-image: url(../images/sprite.png);
  background-position: -1400px -412px;
  width: 422px;
  height: 367px;
}
.icon-heineken {
  background-image: url(../images/sprite.png);
  background-position: -2048px -779px;
  width: 187px;
  height: 66px;
}
.icon-kranovie {
  background-image: url(../images/sprite.png);
  background-position: -1961px -664px;
  width: 139px;
  height: 96px;
}
.icon-kvadro {
  background-image: url(../images/sprite.png);
  background-position: -1876px -907px;
  width: 96px;
  height: 96px;
}
.icon-liftovie {
  background-image: url(../images/sprite.png);
  background-position: -2103px -540px;
  width: 139px;
  height: 96px;
}
.icon-map {
  background-image: url(../images/sprite.png);
  background-position: 0px -568px;
  width: 1400px;
  height: 480px;
}
.icon-promishlenie {
  background-image: url(../images/sprite.png);
  background-position: -1653px -907px;
  width: 126px;
  height: 96px;
}
.icon-repair-bg {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 1400px;
  height: 568px;
}
.icon-rotor2 {
  background-image: url(../images/sprite.png);
  background-position: -1822px -412px;
  width: 281px;
  height: 252px;
}
.icon-schott {
  background-image: url(../images/sprite.png);
  background-position: -1400px -779px;
  width: 136px;
  height: 128px;
}
.icon-snegohodi {
  background-image: url(../images/sprite.png);
  background-position: -2068px -907px;
  width: 96px;
  height: 96px;
}
.icon-specauto {
  background-image: url(../images/sprite.png);
  background-position: -1972px -907px;
  width: 96px;
  height: 96px;
}
.icon-sudovie-dvigateli {
  background-image: url(../images/sprite.png);
  background-position: -1400px -907px;
  width: 127px;
  height: 96px;
}
.icon-transformator {
  background-image: url(../images/sprite.png);
  background-position: -2242px -540px;
  width: 72px;
  height: 96px;
}
.icon-uaz {
  background-image: url(../images/sprite.png);
  background-position: -2103px -412px;
  width: 151px;
  height: 128px;
}
.icon-vodohod {
  background-image: url(../images/sprite.png);
  background-position: -1922px -779px;
  width: 126px;
  height: 128px;
}
.icon-waterskoter {
  background-image: url(../images/sprite.png);
  background-position: -1779px -907px;
  width: 97px;
  height: 96px;
}
.icon-zzgt {
  background-image: url(../images/sprite.png);
  background-position: -1796px -779px;
  width: 126px;
  height: 128px;
}
