.nav-toggle-wrapper{display:none;}
.mobile-menu, .equipment, .thanks, .popup, .popup2{display:none;}
*{outline:none;}


#contact, #customer, #progress, #attendance, #about{
  position:absolute;
  top:-61px;
}

a.ph:hover{
  background-color:#fff;
}

input{
  transition:300ms;
}
input:disabled{
  background-color:#D1D1D1;
  color:#B2B2B2;
}
input:invalid{
  border:2px solid #D0021B;
}
input:focus{
  box-shadow:0 0 3px 0 #0076FF;
}

.fancybox-close-small{display:none;}
#Rectangle-10{transition:300ms;}
#Rectangle-10:hover{
  transition:300ms;
  fill:#C9D2D9;
}
body{
  header{
    position:fixed;
    background-color:#fff;
    width:100%;
    z-index:10;
    height: 61px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    font-family:'Source Sans Pro', sans-serif;
    .container{
      .row{
        .logo{
          margin-left:11px;
          margin-top:17px;
        }
        nav{
          margin-right:15px;
          float:right;
          margin-top:21px;

          ul{
            margin:0;
            padding:0;
            li{

              float:right;
              list-style-type: none;
              a{
                font-size:14px;
                font-weight:400;
                color:#000;
                margin-left:35px;
                transition:300ms;
              }
              a:hover{
                color:#0082FF;
                transition:300ms;
              }
            }
          }
        }
        .header-contacts{
          .contacts-phone{
            float:right;
            font-size:18px;
            font-weight:400;
            color:#000;
            margin-top:19px;
            margin-right:8px;

          }
          a.request-call{
            display:block;
            float:right;
            width:126px;
            height:35px;
            background-color:#0069E3;
            border-radius:4px;
            font-weight:700;
            font-size:14px;
            outline:none;
            color:#fff;
            text-align:center;
            line-height:35px;
            margin-top:12px;
            text-decoration: none;
            cursor:pointer;
            transition:300ms;
          }
          a:hover{
            background-color:#0082FF;
            transition:300ms;
          }
          a:disabled{
            background-color:#EBEBEB;
            color:#9DA3A8;
          }
          a.ph:hover{
            background-color:#fff;
          }
        }
      }
    }
  }
  section.repair{
    position:relative;
    padding-top:61px;
    font-family:'Source Sans Pro', sans-serif;

    .repair-inner{
      position:relative;
      .icon-header-bg{
        position:absolute;
        margin-left:163px;
        margin-top:-9px;
        z-index:1;
      }
      .repair-title{
        font-size:40px;
        color:#000;
        font-weight:700;
        margin-top:50px;
        position:relative;
        z-index:4;
      }
      .repair-review{
        line-height:32px;
        font-weight:400;
        margin-top:16px;
        font-size:24px;
        width:262px;
      }
      .info-specialist-wrapper{
        margin-top:35px;
        .counter-specialist{
          line-height:40px;
          font-size:32px;
          font-weight:700;
          margin-top:8px;
          float:left;
        }
        .review-specialist{
          float:left;
          margin-left:18px;
          font-size:14px;
          line-height:20px;
          color:#747C7F;
          width:219px;
          font-weight:400;
        }
      }
      .icon-header-img-1-rotor{
        margin-left:435px;
        margin-top:57px;
        position:absolute;
        z-index:3;
      }
      .header-feedback{
        height:370px;
        margin-top:30px;
        background-color:#F0F3F5;
        position:relative;
        z-index:2;
        .header-feedback-title{
          font-family: 'PT Serif', serif;
          margin-left:24px;
          margin-top:21px;
          line-height:31px;
          font-size:24px;
          float:left;
          width:149px;
        }
        .pdf-icon{
          float:left;
          margin-top:24px;
          margin-left:34px;
        }
        ul{
          margin-top:24px;
          margin-left:40px;
          padding:0;
          li{
            line-height:18px;
            font-size:14px;
            color:#0069E3;
            margin-top:16px;
            span{
              color:#000;
              text-decoration: none;
            }
          }
        }
        a{
          margin-top:46px;
          margin-left:24px;
          width:214px;
          height:40px;
          line-height:40px;
          font-weight:700;
          font-size:16px;
          color:#fff;
          background-color:#49BB5C;
          border-radius:4px;
          display:block;
          text-decoration: none;
          text-align:center;
          cursor: pointer;
          transition:300ms;
        }
        a:hover{
          transition:300ms;
          background-color:#20D73F;
        }
        a:disabled{
          background-color:#EBEBEB;
          color:#9DA3A8;
        }
      }
    }
  }
  section.first-info{
    margin-top:27px;
    font-family:'Source Sans Pro', sans-serif;

    background-color:#0069E3;
    height:141px;
    .first-info-image{
      margin-top:25px;
      float:left;
    }
    p{
      float:left;
      margin-top:23px;
      margin-left:16px;
      display:block;
      color:#fff;
      font-size:16px;
      line-height:23px;
      font-weight:400;
      width:174px;
    }
    p.info-fix-width{
      width:210px;
    }
  }
  section.werepair{
    position:relative;
    font-family:'Source Sans Pro', sans-serif;

    .werepair-title{
      margin-top:50px;
      font-weight:700;
      font-size:40px;
      color:#000;
      line-height:50px;
      span{
        color:#49BB5C;
      }
    }
    .repair-unit-image{
      margin-top:50px;
    }
    hr{
      margin-top:16px;
      width:48px;
      height:3px;
      background-color:#0069E3;
      border:0;
      margin-bottom:0;
      margin-left:unset;
      margin-right:unset;
    }
    p{
      font-size:16px;
      line-height:23px;
      margin-top:8px;
      color:#000;
      width:165px;
      margin-bottom:0;
    }
  }
  section.repair-details{
    font-family:'Source Sans Pro', sans-serif;
    margin-top:50px;
    background-image:url('../images/bg5.png');
    background-size:100% 100%;
    height:548px;
    .repair-details-title{
      margin-top:50px;
      font-weight:700;
      font-size:40px;
      color:#fff;
      line-height:50px;
      span{
        color:#49BB5C;
      }
    }
    ul{
      margin-top:50px;
      padding-left:20px;
      li{
        color:#49BB5C;
        font-size:16px;
        line-height:24px;
        font-weight:400;
        margin-bottom:16px;
        span{
          color:#fff;
        }
      }
    }
    .grades{
      margin-top:117px;
      background-color:#0069E3;
      height:126px;
      padding-top:24px;
      .grades-title{
        font-weight:700;
        font-size:16px;
        color:#fff;
        line-height:24px;
        text-align:left;
        width:228px;
        margin:0 auto;
      }
      a{
        margin-top:8px;
        display:block;
        font-size:16px;
        line-height:24px;
        outline:none;
        margin-left:16px;
        color:#fff;
        text-decoration: underline;
        cursor: pointer;
        transition:300ms;
      }
      a:hover{
        color:#0082FF;
        transition:300ms;
      }
    }
    .repair-details-feedback{
      height:473px;
      background-color:#fff;
      margin-top:-59px;
      .feedback-title{
        font-family: 'PT Serif', serif;
        margin-left:24px;
        margin-top:21px;
        line-height:31px;
        font-size:24px;
        float:left;
        width:149px;
      }
      .pdf-icon{
        float:left;
        margin-top:24px;
        margin-left:34px;
      }
      ul{
        margin-top:24px;
        margin-left:40px;
        padding:0;
        li{
          line-height:18px;
          font-size:14px;
          color:#0069E3;
          margin-top:16px;
          span{
            color:#000;
            text-decoration: none;
          }
        }
      }
      hr{
        margin-top:18px;
        margin-bottom:0;
      }
      p{
        width:214px;
        line-height:18px;
        font-size:14px;
        color:grey;
        margin:0 auto;
        margin-top:16px;
      }
      a{
        margin-top:24px;
        margin-left:24px;
        width:214px;
        height:40px;
        line-height:40px;
        outline:none;
        font-weight:700;
        font-size:16px;
        color:#fff;
        background-color:#49BB5C;
        border-radius:4px;
        display:block;
        text-decoration: none;
        text-align:center;
        transition:300ms;
        cursor: pointer;
      }
      a:hover{
        background-color:#20D73F;
        transition:300ms;
      }
      a:disabled{
        background-color:#EBEBEB;
        color:#9DA3A8;
      }
    }
  }
  section.starter{
    font-family:'Source Sans Pro', sans-serif;

    .starter-title{
      margin-top:50px;
      font-weight:700;
      font-size:40px;
      span.add{
        color:#000;
        display:block;
        float:left;
        width:850px;
        margin-left:13px;
      }
      line-height:50px;
      span{
        color:#49BB5C;
        display:block;
        float:left;
      }
    }
    .starter-unit-image{
      margin-top:50px;

    }
    hr{
      margin-top:16px;
      width:48px;
      height:3px;
      background-color:#0069E3;
      border:0;
      margin-bottom:0;
      margin-left:unset;
      margin-right:unset;
    }
    p{
      font-size:16px;
      line-height:23px;
      margin-top:8px;
      color:#000;
      width:165px;
      margin-bottom:73px;

    }
  }
  section.performance{
    position:relative;
    background-color:#F0F3F5;
    font-family:'Source Sans Pro', sans-serif;

    .perfomance-title{
        margin-top:50px;
        font-weight:700;
        font-size:40px;
        color:#000;
        line-height:50px;
        span{
          color:#49BB5C;
          font-size:40px;
        }
    }
    hr{
      width:48px;
      height:3px;
      border:0;
      margin-left:unset;
      margin-right:unset;
      margin-top:58px;
    }
    hr.blue{
      background-color:#0069E3;
    }
    hr.green{
      background-color:#49BB5C;
    }
    span{
      font-size:16px;
      line-height:23px;
      font-weight:400;
      margin-top:11px;
    }
    #myCarousel{
      position:relative;
      margin:0 auto;
      margin-top:58px;
      height:275px;
      width:737px;
      margin-bottom:50px;
      img{width:100%;height:275px;}
      .item{display:none;height:275px;}
      .slide-item{
        width:50%;
        float:left;
      }
      .active{display:block;height:275px;}
      .carousel-control{
        position:absolute;
        margin-bottom:127px;
      }
      .left{
        top: 112px;
        left: -68px;
        display:none;
      }
      .right{
        top: 112px;
        right: -68px;
        display:none;
      }
      #Oval-4{transition:300ms;}
      #Oval-4:hover{
        transition:300ms;
        fill:#0082FF;
      }
    }
  }
  section.plan{
    font-family:'Source Sans Pro', sans-serif;

    margin-bottom:32px;
    .plan-title{
      margin-top:50px;
      font-weight:700;
      font-size:40px;
      color:#000;
      line-height:50px;
      span{
        color:#49BB5C;
      }
    }
    .line{
      position:absolute;
      background-color:#D1D1D1;
      z-index:1;

    }
    .line1{
      height:347px;
      width:1px;
      background-color:#D1D1D1;
      margin-top:72px;
      margin-left:28px+15px;
    }
    .line2{
      width:395px;
      margin-top:347px + 72px;
      height:1px;
      margin-left:28px+15px;
    }
    .line3{
      height:382px;
      margin-left:395px + 28px + 15px;
      width:1px;
      margin-top:36px;
    }
    .line4{
      width:395px;
      height:1px;
      margin-left:395px + 28px + 15px;
      margin-top:36px;
    }
    .line5{
      height:36px;
      width:1px;
      margin-left:395px + 28px + 395px + 15px;
      margin-top:36px;
    }

    .first-point, .second-point{
      margin-top:72px;
      position:relative;
      z-index:2;
      .counter{
        width:36px;
        height:36px;
        border:4px solid #0069E3;
        text-align:center;
        line-height:28px;
        font-size:24px;
        font-family: 'PT Serif', serif;
        color:#000;
        float:left;
        margin-left:10px;
        background-color:#fff;

      }
      .plan-info-wrapper{
        display:block;
        float:left;
        margin-left:21px;
        font-size:16px;
        line-height:36px;
        color:#000;
        p{
          font-size:14px;
          line-height:23px;
          margin-top:8px;
          width:195px;
          margin-bottom:0;
        }
      }
    }
    .first-point-fix{
      margin-top:36px;
    }
    .second-point{
      margin-top:41px;
    }
    .second-point-fix{
      margin-top:88px;
    }
    .point4{
      width: 214px;
      float: left;
    }
    .first-point .second-column{
      margin-left:16px;
    }
    .second-point .second-column{
      margin-left:16px;
    }
    .first-point .third-column{
      margin-left:21px;
    }
  }
  section.customers{
    position:relative;
    .customers-title{
      margin-top:50px;
      font-weight:700;
      font-size:40px;
      color:#000;
      line-height:50px;
      span{
        color:#49BB5C;
      }

    }
    .logo-line{
      margin-top:50px;
    }
    .icon-daido{
      margin-top:123px;
    }
    .icon-gips{
      margin-top:74px;
    }
    .icon-uaz{
      margin-top:62px;
    }
    .icon-heineken{
      margin-top:73px;
    }
    a{
      width:126px;
      height:35px;
      background-color:#0069E3;
      border-radius:4px;
      font-weight:700;
      font-size:14px;
      line-height:18px;
      margin:0 auto;
      text-align:center;
      line-height:35px;
      display:block;
      color:#fff;
      text-decoration:none;
      margin-top:35px;
      cursor: pointer;
      transition:300ms;
    }
    a:hover{
      background-color:#0082FF;
      transition:300ms;
    }
    a:disabled{
      background-color:#EBEBEB;
      color:#9DA3A8;
    }
  }
  section.presentation{
    background-color:#0069E3;
    margin-top:83px;
    height:208px;
    .pdf-icon{
      margin-left:11px;
      margin-top:32px;
      float:left;
    }
    .presentation-info-wrapper{
      margin-left:36px;
      float:left;
    }
    h3{
      font-family: 'PT Serif', serif;
      margin-top:24px;
      font-size:24px;
      line-height:31px;
      color:#fff;
      width:195px;
    }
    a{
      display:block;
      width:215px;
      height:40px;
      line-height:40px;
      border-radius:4px;
      background-color:#49BB5C;
      color:#fff;
      font-weight:700;
      text-align:center;
      cursor: pointer;
      outline:none;
      transition:300ms;
    }
    a:hover{
      transition:300ms;
      background-color:#20D73F;
    }
    a:disabled{
      background-color:#EBEBEB;
      color:#9DA3A8;
    }
    ul{
      margin:0;
      margin-top:27px;
      padding-left:20px;
      li{
        color:#3CE058;
        line-height:20px;
        font-size:16px;
        margin-bottom:24px;
        span{
          color:#fff;
          font-weight:400;
        }
      }
    }
    .icon-rotor2{
      margin-top:-55px;
    }
  }
  section.contacts{
    position:relative;
    font-family:'Source Sans Pro', sans-serif;

    .contacts-title{
      margin-top:50px;
      font-weight:700;
      font-size:40px;
      color:#000;
      line-height:50px;
      span{
        color:#49BB5C;
      }
    }
    .contacts-info-wrapper{
      p{
        font-size:24px;
        padding:0;
        color:#000;
        line-height:32px;
        font-weight:400;
        margin-top:19px;
        margin-left:64px;
      }
      .adres{
        margin-top:26px;
        margin-left:20px;
        .adres-logo{
          float:left;
        }
        .adres-wrapper{
          margin-left:13px;
          float:left;
          width:201px;
          span{
            font-size:16px;
            font-weight:700;
            line-height:20px;
          }
          p{
            margin-top:7px;
            font-size:16px;
            line-height:23px;
            margin-left:0;
          }
          span.addiction{
            margin-top:8px;
            font-size:14px;
            line-height:20px;
            color:#5B646A;
            margin-bottom:52px;
            display:block;
          }
        }
      }
      .phone{
        margin-top:114px;
        float:left;
        margin-left:122px;
        .phone-logo{
          float:left;
        }
        .phone-wrapper{
          float:left;
          margin-left:11px;

        }
        span{
          font-weight:700;
          font-size:16px;
          line-height:20px;
        }
        p{
          margin-top:8px;
          margin-left:0;
          line-height:20px;
          font-size:16px;
        }
      }
    }
    .contacts-feedback{
      width:262px;
      height:300px;

      margin-top:43px;
      background-color:#F0F3F5;
      span{
        width:214px;
        display:block;
        margin:0 auto;
        margin-top:21px;
        font-family: 'PT Serif', serif;
        line-height:31px;
        font-size:24px;
      }
      input{
        display:block;
        margin:0 auto;
        margin-top:28px;
        width:214px;
        height:38px;
        line-height:38px;
        text-align:center;
        border:2px solid #5B646A;
        background-color:#fff;
        color:#9B9B9B;
        font-size:16px;
        font-weight:400;
      }
      button{
        margin:0 auto;
        margin-top:25px;
        cursor: pointer;
        width:214px;
        height:40px;
        line-height:40px;
        border:0;
        padding:0;
        font-weight:700;
        font-size:16px;
        color:#fff;
        background-color:#49BB5C;
        border-radius:4px;
        display:block;
        text-decoration: none;
        text-align:center;
        transition:300ms;
      }
      button:hover{
        transition:300ms;
        background-color:#20D73F;
      }
      button:disabled{
        background-color:#EBEBEB;
        color:#9DA3A8;
      }
    }
  }
  section.map{
    height:480px;
    iframe{height:480px;}
  }
  footer{
    height:111px;
    background-color:#F0F3F5;
    .footer-logo{
      margin-top:33px;
    }
    p{
      margin-top:27px;
      font-size:14px;
      color:#5B646A;
      display:block;
      line-height:20px;
      font-weight:400;
    }
    .footer-contacts{
      span, a{
        float:right;
        display:block;
      }
      a.ur{
        width:126px;
        text-align:center;
        height:35px;
        background-color:#0069E3;
        display:block;
        font-size:14px;
        line-height:34px;
        color:#fff;
        font-weight:700;
        margin-top:24px;
        border-radius:4px;
        text-decoration:none;
        cursor: pointer;
        transition:300ms;
      }
      a.ur:hover{
        transition:300ms;
        background-color:#0082FF;
        outline:none;
      }
      a.ur:disabled{
        background-color:#EBEBEB;
        color:#9DA3A8;
      }
      span{
        margin-right:9px;
        margin-top:31px;
        font-size:18px;
        color:#000;
        line-height:24px;
      }
    }
  }
}

@media all and (min-width:1170px){
  *{outline:none;}
  .equipment{
    font-family:'Source Sans Pro', sans-serif;


    z-index:11;
    position:fixed;
    .equipment-inner{
      margin:0 auto;
      width:810px;
      height:701px;
      background-color:#fff;
      .equipment-title{
        margin-left:15px;
        margin-top:15px;
        font-weight:700;
        font-size:40px;
        line-height:50px;
      }
      .close-menu{
        margin-top:8px;
        margin-right:-7px;
        float:right;
      }
      ul{
        margin-top:33px;
        margin-left:16px;
        li{
          color:#49BB5C;
          font-size:16px;
          line-height:24px;
          padding-right:15px;
          padding-left:0;
          margin-bottom:28px;
          span{
            color:#000;
            width:330px;
            display:block;
          }
        }
      }
      span{
        font-size:16px;
        line-height:24px;
      }
      span.first{
        font-weight:bold;text-transform: uppercase;
      }
    }
  }
  .popup,.popup2,.thanks{
    font-family:'Source Sans Pro', sans-serif;

    background-color:rgba(0,0,0,0.8);
    .block-inner{
      width:340px;
      height:430px;
      background-color:#fff;
      margin:0 auto;
      .popup-title{
        margin-top:15px;
        margin-left:15px;
        font-size:40px;
        font-weight:700;
        line-height:40px;
      }
      .close-menu{
        margin-top:8px;
        margin-right:-7px;
        float:right;
      }
      form{
        margin-top:33px;
        input{
          margin:0 auto;
          margin-bottom:8px;
          width:290px;
          height:38px;
          outline: none;
          line-height:38px;
          border:2px solid #5B646A;
          color:#9B9B9B;
          font-size:16px;
          padding-left:12px;
          display:block;
        }
        button{
          margin:0 auto;
          margin-top:8px;
          width:290px;
          height:40px;
          line-height: 37px;
          text-align:center;
          display:block;
          color:#fff;
          background-color:#49BB5C;
          font-weight:700;
          font-size:16px;
          border:0;
        }
      }
      p{
        width:280px;
        display:block;
        margin-top:16px;
        margin-left:30px;
      }
    }
  }
  header{
    position:fixed;
    width:100%;
    background-color:#fff;
  }
}

@media all and (max-width:1170px){
  .mob-clear{display:none;}

  #Rectangle-10{transition:300ms;}
  #Rectangle-10:hover{
    transition:300ms;
    fill:#C9D2D9;
  }
  *{outline:none;}
  #Rectangle-10{transition:300ms;}
  #Rectangle-10:hover{
    transition:300ms;
    fill:#C9D2D9;
  }
  .mobile-menu{
    font-family:'Source Sans Pro', sans-serif;

    background-color:#fff;
    z-index:11;
    height:100%;
    width:100%;
    position:fixed;
    .menu-logo{
      float:left;
      margin-top:17px;
      margin-left:1px;
    }
    .close-menu{
      float:right;
      margin-top:10px;
      cursor: pointer;
    }
    .menu-review{
      margin-top:29px;
      width:229px;
      color:#5B646A;
      font-size:14px;
      line-height:20px;
    }
    ul{
      margin:0;
      margin-top:35px;
      li{
        list-style-type: none;
        a{
          font-size:18px;
          color:#000;
          font-weight:400;
          line-height:40px;
          text-decoration:none;
          cursor: pointer;
        }
      }
    }
    hr{
      background-color:#EAEAEA;
      margin-top:20px;
    }
    .menu-phone{
      text-align:center;
      margin-top:15px;
      font-size:24px;
      line-height:24px;
      color:#000;
    }
    a.req{
      width:126px;
      height:35px;
      line-height:35px;
      margin:0 auto;
      text-align:center;
      color:#fff;
      margin-top:15px;
      background-color:#0069E3;
      display:block;
      font-weight:700;
      border-radius:4px;
      font-size:14px;
    }
  }
  .equipment{
    font-family:'Source Sans Pro', sans-serif;

    padding-bottom:23px;
    position:fixed;
    overflow: scroll;
    height:100%;
    background-color:#fff;
    width:100%;
    z-index:11;
    .equipment-title{
      font-size:32px;
      line-height:40px;
      color:#000;
      margin-top:15px;
    }
    .close-menu{
      cursor: pointer;
      float:right;
      margin-top:15px;
    }
    ul{
      margin-top:24px;
      margin-left:15px;
      li{
        color:#49BB5C;
        font-size:16px;
        line-height:24px;
        padding-right:15px;
        margin-bottom:34px;
        span{
          color:#000;
        }
      }
    }
    span{
      font-size:16px;
    }
    span.first{
      font-weight:bold;text-transform: uppercase;
    }
  }
  .popup, .popup2{
    font-family:'Source Sans Pro', sans-serif;

    position:fixed;
    background-color:#fff;
    z-index:11;
    width:100%;
    height:100%;
    .popup-title{
      margin-top:15px;
      font-size:32px;
      font-weight:700;
      line-height:40px;
    }
    .close-menu{
      margin-top:15px;
      float:right;
    }
    form{
      margin-top:98px;
      input{
        margin-bottom:8px;
        width:290px;
        height:38px;
        outline: none;
        margin-left:15px;
        line-height:38px;
        border:2px solid #5B646A;
        color:#9B9B9B;
        font-size:16px;
        padding-left:12px;
        text-align:center;
        display:block;
      }
      button{
        margin-top:8px;
        width:290px;
        height:40px;
        line-height:40px;
        text-align:center;
        outline:none;
        color:#fff;
        background-color:#49BB5C;
        font-weight:700;
        font-size:16px;
        border:0;
        cursor: pointer;
        margin-left:15px;
      }
      button:hover{
        transition:300ms;
        background-color:#20D73F;
      }
      button:disabled{
        background-color:#EBEBEB;
        color:#9DA3A8;
      }
    }
    p{
      width:312px;
      display:block;
      margin:0 auto;
      margin-top:40px;
    }
  }
  .popup, .popup2{
    .block-inner{
      form{
        input{
          padding-left:0;
        }
      }
      p{
        margin-left:30px;
      }
    }
  }
  .thanks{
    font-family:'Source Sans Pro', sans-serif;

    position:fixed;
    background-color:#fff;
    z-index:11;
    width:100%;
    height:100%;
    .popup-title{
      margin-top:15px;
      font-size:32px;
      font-weight:700;
      line-height:40px;
    }
    .close-menu{
      margin-top:15px;
      float:right;
      cursor: pointer;
    }
    p{
      margin-top:24px;
      display:block;
      font-size:16px;
      color:#5B646A;
    }
  }
  body{
    header{
      box-shadow: none;
      nav, .header-contacts{
        display:none;
      }
      .logo{
        margin-left:1px;
        margin-top:17px;
      }
      .nav-toggle-wrapper{display:block;}
      .nav-toggle{
        a{outline:none;}
        display:block;
        outline:none;
        margin-top:10px;
        float:right;
        cursor: pointer;
      }
    }
    section.repair{
      overflow: hidden;
      .repair-inner{
        .repair-title{
          margin-top:203px;
          font-size:32px;
          line-height:40px;
        }
        .repair-review{
          margin-top:24px;
          font-size:18px;
          line-height:24px;
        }
        .info-specialist-wrapper{
          margin-top:24px;
        }
        .header-feedback .pdf-icon{
          float:right;
          margin-right:24px;
        }
        .header-feedback{
          margin-top:133px;
        }
        .icon-header-img-1-rotor{
          top:108px;
        }
        .icon-header-bg{
          background-image:url('../images/hd-sheme.png');
          background-size: auto;
          height: 187px;
          margin-left: -220px;
          margin-top: -201px;
        }
        .icon-header-img-1-rotor{
          background-image:url('../images/mobile1.png');
          width:281px;
          height:214px;
          margin:0 auto;
          background-repeat:no-repeat;
          background-size: auto;
          margin-top: -77px;
          margin-left: 56px;
          background-position:unset;
        }
      }
    }
    section.first-info{
      padding-bottom:30px;
      height:auto;
      .first-info-image{
        margin-top:30px;
      }
      p{margin-top:30px;margin-bottom:0;}
    }
    section.werepair{
      overflow: hidden;
      .werepair-title{
        margin-top:40px;
        font-size:32px;
        line-height:40px;
        span{display:block;}
      }
      .repair-unit-image{
        margin-top:40px;
      }
    }
    section.repair-details{
      height:auto;
      margin-top:30px;
      .repair-details-title{
        font-size:32px;
        line-height:40px;
        margin-bottom:24px;
        span{display:block;}
      }
      ul{
        margin-top:0;
        li{
          margin-top:16px;
        }
      }
      .grades{
        margin-top:10px;
        .grades-title{
          margin-left:24px;
        }
        a{margin-left:24px;outline:none;}
      }
      .repair-details-feedback{
        margin-top:24px;
        margin-bottom:17px;
        .pdf-icon{
          float:right;
          margin-right:24px;
        }
        a{
          width:242px;
          height:40px;
          line-height:40px;
          font-size:16px;
          outline:none;
        }
        p{
          margin-left:24px;
        }
      }
    }
    section.starter, section.performance{
      display:none;
    }
    section.plan{
      margin-bottom:0;
      .plan-title{
        margin-top:40px;
        margin-left:15px;
        font-size:32px;
        line-height:40px;
        margin-bottom:26px;
        span{display:block;}
      }
      .line2, .line3, .line4, .line5{display:none;}
      .line1{
        height:580px;
        margin-top:0;
        margin-left:15px+18px;
      }
      .first-point-fix{
        margin:0;
      }
      .second-point{margin-top:30px;}
      .first-point{
        margin-top:30px;
        .third-column{
          margin-left:10px;
        }
      }
      .second-column,.third-column{margin-left:0;}

      .first-margin-fix{
        margin-top:0;
      }
    }
    section.customers{
      overflow: hidden;
      .customers-title{
        margin-top:40px;
        font-size:32px;
        line-height:40px;
        margin-bottom:36px;
        span{
          display:block;
        }
      }

      .logo-line{margin:0;}
      .logo-icon{margin-bottom:56px;}
      .icon-daido{
        background-image:url('../images/daido-mob.png');
        width:100%;
        background-repeat:no-repeat;
        background-position: 0;
        margin-top:0;
      }
      .icon-gips{
        background-image:url('../images/gips-mob.png');
        background-repeat:no-repeat;
        background-position: 0;
        margin-top:-44px;
      }
      .icon-uaz{
        background-image:url('../images/uaz-mob.png');
        background-repeat:no-repeat;
        background-position: 0;
        margin-top:0;
      }
      .icon-heineken{
        background-image:url('../images/heineken-mob.png');
        background-repeat:no-repeat;
        background-position: 0;
        margin-top:15px;
      }
    .icon-schott{
      margin-bottom:92px;
    }

    }
    section.presentation{
      margin-top:60px;
      height:auto;
      padding-bottom:132px;
      .pdf-icon{
        margin-left:2px;
      }
      h3{
        margin-bottom:22px;
      }
      a{margin-bottom:40px;outline: none;}
      ul{
        margin:0;
        width:224px;
        margin-left:69px;
      }
      .icon-rotor2{
        background-image:url('../images/rot-mob.png');
        background-repeat:no-repeat;
        background-position:unset;
        width:254px;
        height:210px;
        position:absolute;
        margin-left: 50px;
        margin-top: 34px;
      }
    }
    section.contacts{
      .contacts-title{
        margin-top:80px;
        font-size:32px;
        line-height:40px;
        span{
          display:block;
        }
      }
      .contacts-info-wrapper{
        p{
          font-size: 18px;
          padding: 0;
          color: #000;
          line-height: 24px;
          font-weight: 400;
          margin-top: 24px;
          margin-left:0;
          /* margin-left: 64px; */
        }
        .adres{
          margin-top:58px;
          margin-left:0;
          .adres-logo{
            margin-left:0;
          }
        }
        .phone{
          margin-top:58px;
          margin-left:0;
        }

      }
      .contacts-feedback{
        margin:0 auto;
        margin-top:56px;
        width:290px;
        float:unset;
        clear:both;
      }
    }
    section.map{
      margin-top:24px;
      height:240px;
      iframe{height:240px;}
    }
    footer{
      padding-bottom:30px;
      height:auto;
      .footer-logo{
        width:111px;
        margin:0 auto;
        margin-top:30px;
      }
      p{
        width:229px;
        display:block;
        text-align:center;
        margin:0 auto;
        margin-top:24px;
      }
      .footer-contacts{
        margin:0;
        a.ur{
          width:126px;
          margin:0 auto;
          margin-top:61px;
          float:none;
        }
        span{
          position: absolute;
          width: 150px;
          left: 50%;
          margin-left: -75px;
          top: -6px;
        }
      }
    }

  }
  body section.plan .first-point .third-column{margin-left:0;}
  body section.plan .first-point .second-column{margin-left:0;}
  body section.plan .second-point .second-column{margin-left:0;}
  body section.plan .first-point .counter, body section.plan .second-point .counter{margin-left:0;}
  body section.plan .first-point .plan-info-wrapper p, body section.plan .second-point .plan-info-wrapper p{
    width:224px;
  }
}

@media all and (max-width:320px){
  .popup{
    .block-inner{

      p{
        margin-left:15px;
      }
    }
  }
  .popup form input, .popup2 form input, .popup2 form button, .popup1 form button{
    width:auto;
    margin:0 auto;
    margin-bottom:8px;
    width:100%;
  }
  .popup form button, .popup2 form button{
    width:auto;
    margin:0 auto;
    width:100%;
  }
}

@media all and (max-width:431px){
  body section.contacts .contacts-info-wrapper .phone{margin-top:0;}
}
@media all and (max-width:767px){
  body section.contacts .contacts-feedback{clear:both;}
}

.preloader{display:none !important;}

@media all and (min-width:480px){
  body section.contacts .contacts-info-wrapper .phone{
    margin-top:150px;
  }
}

@media all and (min-width:1170px){
  body section.contacts .contacts-info-wrapper .phone{
    margin-top:114px;
  }
}

a.ph:hover{
  background-color:#fff;
}
@media all and (max-width:480px){
  body footer .footer-contacts a{
    float:unset;
  }
}